<h1><%= link_to 'families', families_path %> > <%= @family.name || "Family" %></h1>

<%= render 'form', family: @family %>

<h2>Gizmos</h2>
<% @family.gizmos.each do |gizmo| %>
  <%= render 'gizmos/form', gizmo: gizmo %>
<% end %>

<%= render 'gizmos/form', gizmo: Gizmo.new(:family => @family) %>

<%= link_to 'Cancel', @family %>
<br>
