<%= form_for(gizmo) do |f| %>
  <% if gizmo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gizmo.errors.count, "error") %> prohibited this gizmo from being saved:</h2>

      <ul>
      <% gizmo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>
    <%= link_to 'Families', root_path %> >
    <%= f.collection_select(:family_id, @families, :id, :name) %> >
    <%= f.text_field :name, placeholder: "name" %>
    <%= f.text_field :color, style: "color: #{gizmo.color.contrast}; background-color: #{gizmo.stroke}", placeholder: "color" %>
  </h1>

  <div class="field field-radio" style="background: <%=gizmo.color%>">
    <%= f.check_box :status, style: "color: #{gizmo.color.contrast}; background-color: #{gizmo.stroke}" %>
    <%= f.label :status, "&nbsp;".html_safe %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
