<div id="gizmo-<%=gizmo.id%>" class="gizmo-widget">
  <%= form_for gizmo, remote: true, html: {class: "gizmo-widget" } do |f| %>
    <%= f.hidden_field :status, :value => !gizmo.status %>
    <label>
      <%= f.submit "update", style: "display: none" %>
      <%= gizmo_svg(gizmo) %>
    </label>
  <% end %>
</div>
