<p id="notice"><%= notice %></p>

<h1>Gizmos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gizmos.each do |gizmo| %>
      <tr>
        <td><%= gizmo.name %></td>
        <td><%= gizmo.status %></td>
        <td><%= gizmo.color %></td>
        <td><%= link_to 'Show', gizmo %></td>
        <td><%= link_to 'Edit', edit_gizmo_path(gizmo) %></td>
        <td><%= link_to 'Destroy', gizmo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gizmo', new_gizmo_path %>
