<p id="notice"><%= notice %></p>

<%= render @gizmo %>
 ​
<%= link_to 'Edit', edit_gizmo_path(@gizmo) %> |
<% if @gizmo.family %>
  F: <%= link_to @gizmo.family.name, family_path(@gizmo.family) %>
<% else %>
  <%= link_to 'gizmos', gizmos_path %>
<% end %>
